RewriteEngine on
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 10 days"
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/plain "access plus 1 week"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/x-icon "access plus 3 months"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresByType application/x-icon "access plus 3 months"
</IfModule>



RewriteRule ^proyecto_grado/landing_page/inicioMZS.net$             views/index.html
RewriteRule ^proyecto_grado/landing_page/MyZoneScann.aspx$      include/myzonescann.html
RewriteRule ^proyecto_grado/landing_page/nuestros_clientes.aspx$  include/cliente.html
RewriteRule ^proyecto_grado/prueba/seccion/restaurante.aspx$             include/restaurante.html
RewriteRule ^proyecto_grado/Grupo_Desarrollo.aspx$             include/quienes_somos.html
