<section id="inicio">
<nav class="nav-extended grey darken-3 ">
    <div class="nav-wrapper wow swing">
      <a href="#inicio" class="brand-logo center"><img src="assets/images/logomzs.png" class="responsive-img"/></a></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile scroll" class="left hide-on-med-and-down">
        <li><a href="#clientes">Clientes</a></li>
        <li><a href="#restaurante">Restaurantes</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#team1">Nosotros</a></li>
        <li><a href="#contactenos">Contáctenos</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#clientes" >Clientes</a></li>
        <li><a href="#restaurante">Restaurantes</a></li>
        <li><a href="#team1" >Nosotros</a></li>
        <li><a href="#contactenos">Contáctenos</a></li>
      </ul>
      </ul>

  </nav>
  <div class="cont">
    <h5 class="center-align wow bounceInRight">UNA MANERA MÁS FÁCIL Y RÁPIDA</h5>
    <h5 class="center-align wow bounceInRight">PARA REALIZAR TU PEDIDO</h5>
  <a href="#mzscann" class="waves-effect waves-light btn-large wow zoomIn" >Para qué sirve</a>
  <a href="#mzscann">
    <img class="sc wow bounceInDown" src="assets/images/scroll-min.png" class="responsive-image">
  </a>
</div>
  <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="assets/images/rest1-min.jpg" class="responsive-image"> <!-- random image -->

        </li>
        <li>
          <img src="assets/images/restaurante-min.jpg" class="responsive-image"> <!-- random image -->
        </li>
        <li>
          <img src="assets/images/restaurantes-min.jpg" class="responsive-image"> <!-- random image -->

        </li>
        <li>
          <img src="assets/images/rest2-min.jpg" class="responsive-image"> <!-- random image -->

        </li>
      </ul>
    </div>
</section>
