body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } section{
  position: relative;
  height: 100vh;}


a{
    font-size: 40px;
    font-family: lato;
    font-size: 35px;
    color: #ffffff;
  }

 section{
  display: block;}

p{
  font-family: 'Lato', sans-serif;
  text-align: justify;}
h5{
  font-size: 30px;
    color: #fff;
    font-family: lato;
}
h3{
  font-family: 'Anton', sans-serif;
  color: #ff2b30;}
h2{
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
}
.iconoMenu{
  position: fixed;  z-index: 999;

}
/***************menu hamburguesa************/
ul:not(.browser-default) {
  margin-top: 130px;
  }
.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
  margin: 0 10px 0 0;}
.side-nav a {
  font-size: 18px;}
.side-nav {
  background-color: transparent;
  background-image: url("../images/menu-min1.png");
  background-repeat: no-repeat;}
  .side-nav a:hover {
    background-color: rgba(0,0,0,0.1);
}
/************HOJA DE ESTILOS INICIO************/
#inicio h5{
  font-size: 25px;
}
#inicio nav i.material-icons {
    display: none;}

@media screen and (max-width: 805px) {
  #inicio h5{
    font-size: 18px;
  }

  }
#inicio .brand-logo img{
    width: 100%;
    max-width: 230px;  }

@media screen and (max-width: 1005px) {
  #inicio.brand-logo img{
    max-width:130px;
    padding: 6px 0;
  }
}

#inicio .indicators{
  display: none;}
#inicio .sc{
  width: 40px;
  height: 50px;
  padding: 6px 0;
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  z-index: 9999;}
#inicio .sc:hover{
  margin-bottom:  -7px;}
@media(max-width:680px){
    #inicio a.btn-large{
      font-size: 15px;
      padding: 2px 10px;
    }
  }
#inicio .btn-large{
  z-index: 9;
  font-family: lato;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #ff2b4d 0%,#fa425f 50%,#fc4361 51%,#f35335 100%);}
#inicio .cont{
  width: 100%;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  position: absolute;
  height: 50%;
  bottom: 0;
  padding: 30px;
  z-index: 9;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
#inicio nav{
    position: relative; z-index: 9998; }
#inicio ul{
  margin:0;
}
#inicio nav ul a{
  font-size: 20px;
  font-family: lato;
  margin: 0 30px;}
#inicio section{
    height: 100vh;
    width: auto; }
#inicio .slider-fullscreen img{
    height: 100vh;
    width: 100%;
    display: none;}

/*************HOJA DE ESTILOS MYZONESCANN*************************/
#mzscann .ima img{
width: 100%;
height: 100vh;
}
#mzscann .ima:before{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100vh solid #FFF;
  border-right: 200px solid transparent;
  position: absolute;
  display: block;
}

#mzscann p{
font-size: 25px;
padding: 0 20px;
color: #000
}

#mzscann h3{
  margin: 35px 0 50px;
  text-align: center;
}
#mzscann .sc{
  width: 40px;
  height: 50px;
  padding: 6px 0;
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  z-index: 9999;}

#mzscann .sc:hover{
  margin-bottom: -7px;}



@media (max-width: 800px) {
  #mzscann{
    height: 100vh;
    background-image: url("../images/mzs.png");
    background-size: cover;
    width: 100%;
}
  #mzscann .ima,.ima:before {
    display: none;}
  #mzscann h3{
    margin: 20px 0 30px;
    text-align: center;
}
#mzscann p{
font-size: 20px;
padding: 0 20px;
color: #fff;
}
}

  @media (max-width: 321px) {
      #mzscann p{
      font-size: 13px;
      padding: 0 20px;
      color: #fff;
      }}

/**************************HOJA DE ESTILOS CLIENTE********************************/
#clientes {
      font-family: "lato", Helvetica, Arial, sans-serif;
      color: #fff;
      background-image: url("../images/cliente-min2.png");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      }
#clientes p{
        font-size: 25px;
      }
@media screen and (max-width: 1005px) {
  #clientes img.logo{
  max-width:130px;
  padding: 9px 0;
        }
  #clientes img{   max-width: 60px;
      }
    }
/*#clientes img.responsive-img{
        margin-top: 5px;
        padding-top: 40px;
      }*/
#clientes img{
        margin-top: 20px;
      }
#clientes .sc{
  width: 40px;
  height: 50px;
  padding: 6px 0;
  position: absolute;
  margin: auto;
  bottom: 25px;
  right: 0;
  left: 0;
  z-index: 9999;}
#clientes .sc:hover{
  margin-bottom:  -7px;}

@media (max-width: 768px) {
    #clientes p{
          font-size: 18px;

        }
        /*#clientes div img{
          display: none;

        }*/
      }

/*****************************HOJA DE ESTILOS restaurante********************************/
#restaurante .ima img{
  width: 100%;
  height: 100vh;
}
#restaurante .ima:before{
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100vh solid #FFF;
  border-right: 200px solid transparent;
  position: absolute;
  display: block;
}
#restaurante p{
  font-size: 20px;
  padding: 0 20px;
}
#restaurante h3{
  margin: 35px 0 50px;
  text-align: center;
}
#restaurante .sc{
  width: 40px;
  height: 50px;
  padding: 6px 0;
  position: absolute;
  margin: auto;
  bottom: 10px;
  right: 0;
  left: 0;
  z-index: 9999;}

#restaurante .sc:hover{
  margin-bottom: -7px;}

  @media (max-width: 800px) {
    #restaurante p{
    font-size: 20px;
    padding: 0 20px;
    color: #fff;
    }

    #restaurante .ima,.ima:before {
      display: none;}
    #restaurante{
      height: 100vh;
      background-image:url("../images/ima-min_opt.png");
      background-size: cover;
      width: 100%;
    }
    #restaurante h3{
    margin: 20px 0 30px;
    text-align: center;
    }
  }
  @media (max-width: 710px) {
      #restaurante p{
      font-size: 17px;
      padding: 0 20px;
      color: #fff;
      }}
/***********************quienes somos**************************/
#team1 {
      background-image: url("../images/equipo1.png");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
#team1 #titulo{
    display: block;
  	color: #fff;
  	text-decoration: none;
  	font-family: 'Lato', sans-serif;
    font-size: 60px;
      text-align: center;
      }
#team1 #titulo2{
      display: block;
    	color: #ff2b4d;
    	padding: 8px 16px;
    	text-decoration: none;
        font-weight: bold;
    	font-family: 'Bernadette Rough', sans-serif;
      font-size: 50px;
      text-align: center;
}
#team1 p{
      font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 1px;
}
/*#team1 .sc{
width: 40px;
height: 40px;
padding: 6px 0;
position: absolute;
margin: auto;
bottom: 20px;
right: 0;
left: 0;
z-index: 9999;}
#team1 .sc:hover{
margin-top: -10px;}
*/
@media only screen and (max-width: 800px) {
#team1{
  background-image: url("../images/equipo1.png");
  height: 100vh;
}
  #team1 #titulo2{
    font-size: 25px;
    color: #ff2b4d;
    text-align: center;
  }
  #team1 #titulo{
        font-size: 25px;
        color: #fff;
        padding-top: 100px;
      margin-top: -1px;}
  #team1 .sc{
    display: none;
}}
